{% extends "base.html" %}

{% block content %}

    <div class="main" id="body">

        <p class="p_head" style="text-align: center; color:white;"> Error 404</p>
        <p class="p_head" style="text-align: center; color:white;"> Page not found </p>
        <p> </p>
        
        <div class="buttons">
            <button id="back">Back to Main Page </button>
        </div>
    </div>


    <script>
        document.getElementById("back").addEventListener("click", function() {
            window.location.href = "{{ url_for('index') }}";
        });
    </script>

    
{% endblock content %}
