<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% if title %}
            <title>M3galodon - {{title}}</title>
        {% else %}
            <title>M3galodon </title>
        {% endif%}

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Carattere&family=Cedarville+Cursive&family=Coda:wght@400;800&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Felipa&family=Fira+Mono:wght@400;500;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Quicksand:wght@300..700&family=REM:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    </head>

<body class="background">
    {% block content %}
    {% endblock content %}

    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <script>
        document.getElementById("music_button").addEventListener("click", function() {
            window.location.href = "{{ url_for('music') }}";
        });

        document.getElementById("social_button").addEventListener("click", function() {
            window.location.href = "{{ url_for('social') }}";
        });

        document.getElementById("misc_button").addEventListener("click", function() {
            window.location.href = "{{ url_for('misc') }}";
        });
    </script>

</body>
</html>
    