{% extends "base.html" %}

{% block content %}

    <div class="main" id="body">

        <p class="p_head" style="text-align: center; color:white;"> Music Related Links</p>

                <div class="misc_box" onclick="openInNewTab('https://soundcloud.com/reality81')">
                    <p class="info">Soundcloud</p>
                    <p class="description">This is where I mostly release my songs before uploading it to my Youtube Account.</p>
                </div>

                <div class="misc_box" onclick="openInNewTab('https://www.youtube.com/@M3galodon_Music')">
                    <p class="info">Music Youtube Channel</p>
                    <p class="description">Just music videos</p>
                </div>

                <div class="misc_box" onclick="openInNewTab('https://docs.google.com/spreadsheets/d/1Rpqv-e82a0Z6oZRdm69rigbyMULOteKr3xZliwpZpbY/edit?usp=sharing	')">
                    <p class="info">Song Track Permission List</p>
                    <p class="description">A list whether you can use my songs or not. Just read it.</p>
                </div>

                <div class="misc_box" onclick="copyToClipboard('r3alit.music@gmail.com')">
                    <p class="info">Contact Email</p>
                    <p class="description">Click this to have it on your clipboard</p>
                </div>
        
        <div class="buttons">
            <button id="back">Back</button>
        </div>
    </div>


    <script>
        document.getElementById("back").addEventListener("click", function() {
            window.location.href = "{{ url_for('index') }}";
        });

        function openInNewTab(url) {
                var win = window.open(url, '_blank');
                win.focus();
            }
    </script>

    
{% endblock content %}
